<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.karson.android.dutydaycalculator"
    android:versionCode="7"
    android:versionName="1.5" >

    <uses-sdk android:minSdkVersion="13" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity
            android:name="OutputActivity" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:label="@string/edit_label" android:name="EditorListActivity"></activity>
        <activity android:label="@string/edit_label" android:name="ProfileEditorActivity"></activity>
        <activity android:name="CalculatorActivity" android:icon="@drawable/calc_icon_dark"></activity>
    </application>

</manifest>